body{
    background-image: url("degradado.jpg");
}
form{
    width :30%;
    border : 2px solid black;
    margin: 20px;
    padding: 20px;
    margin: auto;
    background: #24303c;
    border-radius: 5px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;   
}

h1{
    text-align: center;
    font-size: 20px;
}
p {
    font-size: 14px;
    display:block;
    width:100%;
}

input{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    
}

input:focus, textarea:focus{
    border: 4px solid #1668c4;
}

input[type="submit"]{
    background: #1668c4;
    border:none;
    width: 100%;
}
input[type="submit"]:hover{
    background: #4A88F4;
    cursor:pointer;
    color: aliceblue;
}
input[type="reset"]:hover{
    background: #4A88F4;
    cursor:pointer;
    color: aliceblue;
}


input[type="reset"]{
    background: #1668c4;
    border:none;
    width: 100%;
}
